@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Lexend", sans-serif;
    background-color: #AEB5BF;
}
header {
    background-color: #568EBF;
    padding: 2% 10%;
    position: relative;
}

button, .red_novosti > article, input[type=submit], input[type=file] {
    cursor: pointer;
}

#logo {
    width: 15%;
    height: auto;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.nav, #burger_menu {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav > li {
    display: inline-block;
}
.nav > li a, #burger_menu > li a {
    display: block;
    color: #232226;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: 900;
    font-size: 15px;
    font-size: calc(0.75vw + 0.75vh + 0.25vmin);
}
.nav > li a:hover {
    background-color: #5178AF;
}
.clear {
    clear: both;
}

.video_container {
    position: relative; /* Ensures overlay is only over the video */
    width: 100%;
    overflow: hidden;
}

#bg_video {
    width: 100%;
    margin-top: -10%;
    display: block;
}

.video_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.naslov_a {
    color: #597d1e;
    transition: color 0.3s ease-in-out;
}
.naslov_a:hover {
    color: #d4dbe5;
}
h1 {
    color: #000000;
    font-size: calc(1vw + 1vh + 0.75vmin);
}


.novosti, .gdje_na_voznju, .forum, .galerija, .pitanja, .novost_wrapper {
    background-color: #AEB5BF;
    padding: 2% 10%; 
}

.red_novosti {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.novosti article {
    height: 100%;
    padding: 1%;
    margin: 1% 0;
    background-color: #d4dbe5;
    width: 33%;
    font-weight: 300;
}
.novosti article:hover, .pitanja article:hover {
    cursor: pointer;
    background-color: #568ebf1b;
}
.novosti article > img {
    max-width: 100%; 
    min-width: 100%;
}
.novosti article svg {
    width: 5%;
    margin: 0 1% 0 0;
}
.novost_wrapper svg {
    width: 2%;
    margin: 0 1% 0 0;
}
.ikona_tekst_wrapper, .search_bar {
    display: flex; 
    align-items: center; 
    gap: 3%;
    margin: 2% 0;
}
.novosti button, .forum button, .forum #ispod > input[type=submit], .forum #ispod > input[type=file], .slideshow-container button, .galerija button, .galerija #ispod > input[type=submit], .galerija #ispod > input[type=file], .gdje_na_voznju #ispod > input[type=submit], .gdje_na_voznju button {
    padding: 1.5%;
    background-color: #d4dbe5;
    border: none;
    font-family: "Lexend", sans-serif;
    font-size: calc(0.5vw + 0.5vh + 0.25vmin);
    display: block;
    margin: 0 auto;
}
.novosti button:hover, .forum button:hover, .slideshow-container button:hover, .galerija button:hover {
    background-color: #568ebf1b;
}

.search_bar {
    padding: 1% 2%;
    background-color: #d4dbe5;
}
.search_bar svg {
    width: 2.5%;
}
#search_text {
    font-size: calc(0.75vw + 0.75vh + 0.25vmin);
    background-color: #d4dbe5;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}
.search_button {
    font-size: calc(0.5vw + 0.5vh + 0.25vmin);
    padding: 1%;
    border: none;
    background-color: #597d1ec5;
    cursor: pointer;
}
.search_button:hover {
    background-color: #597d1e;
}
.forum button, .gdje_na_voznju button {
    margin: 0;
}
.komentar {
    margin: 1% 0;
    padding: 1%;
    background-color: #AEB5BF;
}
.komentar .ikona_tekst_wrapper {
    gap: 1%;
    margin: 0 0 1% 0;
}
.komentar svg {
    width: 1.5%;
    margin: 0;
}

.vidi_jos {
    padding: 30% 0;
}

.pitanja > article {
    padding: 1%;
    margin-bottom: 1%;
    background-color: #d4dbe5;
}
.pitanja article svg {
    width: 1%;
}
.pitanja article .ikona_tekst_wrapper {
    gap: 1%;
    margin: 1% 0;
}

#galerija_button {
    margin: 1% 1% 1% 0;
    display: inline-block;
}
.galerija .objavi p {
    display: inline-block;
}

footer {
    font-size: calc(0.5vw + 0.5vh + 0.25vmin);
    background-color: #597d1e;
    padding: 2% 10%;
}
footer ul {
    list-style-type: none;
}

.footer_lijevo {
    float: left;
}
.footer_lijevo #bicikl {
    font-size: calc(0.75vw + 0.75vh + 0.25vmin);
    font-weight: 900;
}
.footer_lijevo a {
    color: #AEB5BF;
}
.footer_lijevo a:hover {
    text-decoration: none;
}

.footer_desno {
    float: right;
    text-align: end;
}

#galerija_novosti article {
    position: relative;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 5%;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    gap: 10px;
    width: 30px;
    float: right;
    overflow: hidden;
}

.bar {
    margin: 10% 0;
    width: 100%;
    height: 4px;
    background: #232226;
    transition: 0.4s;
    border-radius: 2px;
}

#linkovi {
    height: 0;
    display: none;
    overflow: hidden;
    transition: height 200ms;
}
hr {
    height:0.15vh;
    border-width:0;
    background-color: #232226;
}

#burger_menu {
    background-color: #568EBF;
    float: none;
    padding: 2% 10%;
}
#burger_menu > li a {
    text-align: start;
}
#burger_menu > li a:hover {
    background-color: #5178AF;
}

#gdje_na_voznju, #forum, #galerija {
    padding-bottom: 0;
}

#gdje_na_voznju_novosti, #galerija_novosti {
    padding-top: 0;
}

.novost_wrapper article {
    background-color: #d4dbe5;
    padding: 2%;
}
.novost_wrapper article h1 {
    text-align: center;
}
.novost_wrapper article img {
    width: 25%;
    margin: 0 37.5%;
}
.novost_wrapper article hr {
    background-color: #d4dbe5;
    height: 10px;
}

#postavi_pitanje {
    display: none;
    padding: 2%;
    background-color: #d4dbe5;
    margin-top: 2%;
    overflow: hidden;
}
#postavi_pitanje textarea, #postavi_pitanje input[type=text] {
    padding: 0.5%;
    background-color: #d4dbe5;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 1%;
    overflow: hidden;
    border: 0.5px solid #232226;
}
#postavi_pitanje #ispod input[type=file] {
    width: 32%;
    background-color: #AEB5BF;
    display: inline;
}

#postavi_pitanje #ispod #drugi {
    background-color: #597d1ec5;
    float: inline-end;
}
#postavi_pitanje #ispod #prvi:hover {
    background-color: #8f949c;
}
#postavi_pitanje #ispod #drugi:hover {
    background-color: #597d1e;
}
::file-selector-button {
    padding: 1%;
    margin-right: 2%;
    background-color: #d4dbe5;
    border: none;
}
::file-selector-button:hover {
    background-color: #AEB5BF;
    cursor: pointer;
}


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 1000px) {
    .red_novosti {
        display: block;
        gap: 0;
    }
    .novosti article {
        padding: 1%;
        margin: 1% auto;
        background-color: #d4dbe5;
        width: 77%;
        font-weight: 300;
    }
    .nav {
        display: none;
    }
    .menu-toggle {
        display: block;
    }
    header {
        padding: 3% 10%;
    }

    .novost h1 {
        font-size: 20px;
    }
    .novost .ikona_tekst_wrapper p {
        font-size: 15px;
    }
    .novost p, .objavi p {
        font-size: 12px;
    }
}
@media screen and (max-width: 700px) {
    #bg_video {
        display: none;
    }
}
@media print {
    .nav, .video_container {
        display: none;
    }
    article, .search_bar, button, input[type=submit] {
        border: 0.5mm solid #000 !important;
    }
    iframe {
        display: none !important;
    }
    .komentar {
        border: 0.5mm solid #717171 !important;
    }
    .text {
        color: #fff !important;
        font-weight: bolder;
    }
}